:root {
    --fi-color: #ff4b44;
    --sc-color: #213165;
    --th-color: #fff;
    --fr-color: #333;
    --fv-color: #1c2837;
    --si-color: #39546e;
    --body-background-color:#f9f9f9;
    --box-shadow-color:rgba(0,0,0,0.1);
    --ph-color:#ebebeb9c;
    --r-color: #16A085;
    --fi-darkColor:#000;
    --sc-darkColor:#fff;
}

::selection {
    color: var(--th-color);
    background-color: var(--sc-color);
}

.cirs {

    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.cirs div {

    width: 20px;

    height: 20px;

    background-color: var(--body-background-color);

    border-radius: 50%;

    margin: 0 5px;

    animation-name: up-and-dawen;

    animation-duration: 1.2s;

    animation-iteration-count: infinite;

    animation-direction: alternate;



}

.tow {

 animation-delay:0.3s ;

}

.htree {

 animation-delay: 0.6s;

}

.four {

 animation-delay: 0.9s;

}


.match {
    border: 3px solid var(--fi-color);
    padding: 0px;
    margin: 100px;
    border-radius:5px;
}

#search-box {
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    text-align: center;
}
.match {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

#team {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#Time {
    color: var(--fi-color);
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

#result {
    color: var(--sc-color);
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

mark {
    color: var(--th-color);
    background-color: var(--sc-color);
    padding: 2px;
}

mark::selection {
    color: var(--th-color);
    background-color: var(--fi-color);
}

h3::selection {
    color: var(--th-color);
    background-color: var(--fi-color);
}

p, h1, h2{
    cursor:default;
}

img {
    cursor:auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--body-background-color);
    color: var(--fr-color);
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewport='0 0 24 24' style='fill:#213165;'%3E%3Ccircle cx='16' cy='16' r='8' /%3E%3")
}

.loading-screen {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--fi-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ph-color); 
    font-size: 2rem; 
    animation: fadeOut 2s ease-in-out forwards;
    animation-delay: 3s; 
    z-index: 1000; 
}

@keyframes fadeOut {
    from { opacity: 1; } 
    to { opacity: 0; visibility: hidden; } 
}

.cirs {

    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.cirs div {

    width: 20px;

    height: 20px;

    background-color: var(--fi-color);

    border-radius: 50%;

    margin: 0 5px;

    animation-name: up-and-dawen;

    animation-duration: 1.2s;

    animation-iteration-count: infinite;

    animation-direction: alternate;



}

.tow {

 animation-delay:0.3s ;

}

.htree {

 animation-delay: 0.6s;

}

.four {

 animation-delay: 0.9s;

}

.loading-p {
    display: block;
}

@keyframes up-and-dawen {
    to {
    opacity: 0.2;

    transform: translateY(-20PX);

    }

}

a {
    text-decoration: none;
}

header {
    background-color: var(--fi-color);
    color: var(--th-color);
    padding: 20px;
    text-align: center;
}

.snav {
    background-color: #213165;
}

.f-icon-img {
    width:400px;
    height:140px;
}

.f-h1 {
    color: var(--th-color);
}

.home-h3 {
    font-size: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--th-color);
    text-decoration: none;
    font-size: 1.2em;
    padding: 14px;
    border-radius: 10px;
    margin: 3px;
}

nav ul li a:hover {
    background-color: var(--si-color);
}

section {
    padding: 60px 20px;
    margin: 20px;
    background: var(--th-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--box-shadow-color);
}

.slider {
    position: relative;
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    border: 2px solid var(--sc-color);
    border-radius: 8px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100%;
    height: 100%;
    height: 400px;
    flex-shrink: 0;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 1s;
}

button.prev {
    left: 10px;
    background-color: var(--sc-color);
    opacity: 0.5;
    border-radius: 10px;
}

button.next {
    right: 10px;
    background-color: var(--sc-color);
    opacity: 0.5;
    border-radius: 10px;
}


button.next:hover,button.prev:hover{
    opacity: 1;
}

button {
    transition: 0.5s ease;
    /* transition: transform 0.1s; */
}
/* vaibratino animation in buttoms */
/* 
button:hover {
    animation: shake 0.3s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
} */
button:hover {
    transform: scale(1.1); 
    background: linear-gradient(45deg, #213165, #4a63a5);
}

.b-md:hover {
    transform: scale(1.1); 
}

h1, h2 {
    color:var(--fv-color);
}

h3 {
    color: var(--sc-color);
}

.service, .project {
    margin: 30px 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--fi-color);
    color: var(--th-color);
    margin-top: 40px;
}

.joinTT {
    color: white;
    text-decoration: none;
}
.joinTT:hover {
    text-decoration: underline;
}

select {
    width: 200px;
    padding: 8px;
    border: 2px solid var(--fv-color); /* الأزرق الغامق */
    border-radius: 10px;
    background-color: var(--fi-color); /* لون الخلفية */
    color: #fff;
    font-size: 16px;
    outline: none;
    appearance: none; /* إخفاء الشكل الافتراضي */
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background-image: url('arrow.svg'); /* سهم مخصص */
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px;
}
select:focus {
    border-color:var(--ph-color) ;
}

.fm form .i img {
    width: 70px ;
    height: 70px;
}
.fm {
    height: 500px;
    width: 250px;
    box-shadow:0px 6px 15px 3px var(--box-shadow-color);
    border-radius: 10px;
    margin-top: 150px;
}
.fm form .i img{
    margin-top: 20px;
}
label {
    color: var(--fi-color);
    display: block;
    font-size: 20px;
}
input {
    display: block;
    margin: 20px;
    color: var(--fi-color);
    padding: 10px;
    background-color: var(--fi-color);
    color: var(--th-color);
    border-radius: 10px;
    border: none;
}

::placeholder {
    color: var(--ph-color);
}

.su {
    border: none;
    border-radius: 10px;
    color: var(--th-color);
    background-color: var(--fi-color);
    width: 60px;
    height:40px
}

.faq-section {
    width: 90%;
    max-width: 600px;
    background-color: var(--body-background-color);
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    padding: 20px;
}


.faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.f-q {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: var(--body-background-color);
    color: var(--sc-color);
    border: 2px var(--sc-color);
    border-radius: 8px 8px 8px 0px;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition:0.5s;
}

.f-q:hover {
    background-color: var(--sc-color);
    color: var(--th-color);
}

.f-a {
    display: none;
    padding: 15px;
    font-size: 15px;
    color: var(--th-color);
    background-color: var(--sc-color);
    border-radius: 0 8px 8px 8px;
    margin: 5px;
    cursor: default;
    transition:0.5s;
}

/* start error bage */
    .sorry {
        text-align: center;
        margin-top: 100px;
        color: var(--fr-color);
    }
    .sorry-md {
        font-size: 80px;
    }
    .message-md {
        font-size: 60px;
        color: var(--fr-color);
    }
    .b-md {
        background-color: var(--fi-color);
        color: var(--th-color);
        border-radius: 10px;
        border: none;
        padding: 30px;
        font-size: 30px;
        cursor: pointer;
        text-decoration: none;
        margin: 40px;
    }
/* end error bage */

/* start bimo chat */
#chat-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

#chat-box p {
    margin: 5px 0;
}

.bimoInput {
    width: calc(100% - 60px);
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
}

.hidden-inputs {
    display: none;
}

/* end bimo chat */
/* تصميم الأزرار */
button {
    position: relative;
    padding: 10px 20px;
    background-color: #213165;
    color: #fff;
    border: none;
    cursor: pointer;
    overflow: hidden; /* لإخفاء التأثير إذا تجاوز حدود الزر */
    font-size: 16px;
    border-radius: 5px;
}

/* تصميم تأثير النقر */
.click-effect {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    pointer-events: none;
    transform: scale(0); /* تبدأ بحجم صغير */
    animation: clickEffectAnimation 0.6s ease-out;
}

/* حركة التأثير */
@keyframes clickEffectAnimation {
    to {
        transform: scale(15); /* تكبير الدائرة */
        opacity: 0; /* جعلها شفافة تدريجياً */
    }
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    .service img, .project img {
        width: 100%;
        height: auto;
    }

    .slides img {
        height: 200px;
    }

    .slider {
        height: 200px;
    }
    .f-h1 {
        font-size: 18px;
    }
        button.prev,
    button.next{
        padding: 7px;
        font-size: 10px;
    }
    .home-h3 {
        font-size: 50px;
    }
    .f-icon-img {
        width:250px;
        height:90px;
    }
    .f-q {
        font-size: 14px;
    }
    .f-a {
        font-size: 12px;
    }
    .sorry-md {
        font-size: 50px;
    }
    .user-name-index {
        width: 100px;
    }
    .interUsername {
        font-size: 30px;
    }
    .b-md {
        padding: 5px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }
    section h2 {
        font-size: 18px;
    }
    .f-h1 {
        font-size: 16px;
    }
        button.prev,
    button.next{
        padding: 5px;
        font-size: 8px;
    }
    .home-h3 {
        font-size: 30px;
    }
    .f-icon-img {
        width:200px;
        height:70px;
    }
    .f-q {
        font-size: 12px;
    }
    .f-a {
        font-size: 10px;
    }
    .sorry-md {
        font-size: 40px;
    }
    #welcome-section input {
        text-align: center;
        width: 100px;
    }
    .welcomMessage {
        font-size: 40px;
    }
    .HelloMessage {
        font-size: 35px;
    }
}
